body {
	margin:0;
	padding: 0;

}

#fullpage {
    height: 100vh;
    overflow: hidden;
}
#fullpage section {
    height: 100vh;    
}
#fullpage section h1 {
    margin: 0;
    padding: 0;
}

#fullpage section:nth-child(1) {
    background-image:url("https://www.pixelstalk.net/wp-content/uploads/2016/07/1080p-Full-HD-Images-For-Desktop.jpg");
    color: white;
    height: 100vh;
}
#fullpage section:nth-child(2) {
	background-image:url("https://www.pixelstalk.net/wp-content/uploads/2016/07/City-under-construction-1080p-full-hd-wallpaper.jpg");;
    color: white;
    height: 100vh;
}